.client-form {
  display: flex;
  flex-direction: column;
  max-width: min-content;
  align-items: center;
}

.btn-action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-self: flex-end;
}

mat-form-field  {
  width: -moz-available;
  width: -webkit-fill-available;
}

@media screen and (max-width: 360px) {
  mat-form-field {
    width: 250px !important;
  }
}
